name: Markdownlint (reusable)

on:
  workflow_call:
    inputs:
      paths:
        description: Glob(s) to lint
        type: string
        default: "**/*.md"

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: ${{ inputs.paths }}
